<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Albums</h1>
    <a href="/artists">Go to Artists</a>
    <a href="/">Go home</a>
    
    <form action="/search">
        <input type="text" name="query"/>
        <input type="submit" value="Search"/>
    </form>
    
    <hr>
    
    <ul>
        {% for album in albums %}
        <li><a href="/albums/{{album.AlbumId}}">{{album.Title}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>