<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="">{{ album.Title}}</a></h1>
    <a href="/artists">Go to Artists</a>
    <a href="/album">Go to Albums</a>
    <a href="/">Go home</a>
    
    
    <ul>
    {% for track in tracks %}
        <li><a href="/tracks/{{track.TrackId}}">{{ track.Name }}</a></li>
    {% endfor %}
    </ul>

</body>
</html>